main{
   display:grid;
   gap:1rem;
   grid-template-columns: 1fr 3fr 1fr;
   grid-template-rows:25rem 25rem;
   grid-template-areas: 
   "a b b c"
   "a d d c"
   "a e e c";
   
}
section{
    border: 1px solid  black;
    padding: 1rem;
    overflow: auto;
}
section.A{
    grid-area: a;
}
section.B{
    grid-area: b;
}
section.C{
    grid-area: c;
}
section.D{
    grid-area: d;
}
section.E{
    grid-area: e;
}

