*{
    box-sizing: border-box;
    /* este atributo não altera a largura ao colocar o padding */
}

main{
    display:flex;
    gap:1rem;
    justify-content:center;
    flex-wrap:wrap; /* */

}
section{
    border: 1px solid black;
    padding: 1rem;
    flex-basis: 20%;
}
@media(max-width:1440px){
    body{
        background-color: burlywood;
    }
    section{
        flex-basis: 45%;
    }
}
@media(max-width:744px){
    body{
        background-color: rgb(38, 231, 183);
    }
    section{
         flex-basis: 90%;
    }
}